src/WebApplication5/Service References/svcPlanetService/PlanetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlanetsInfo">
    <xs:sequence>
      <xs:element name="_x003C_Result_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_planetlist_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPlanets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanetsInfo" nillable="true" type="tns:PlanetsInfo" />
  <xs:complexType name="ArrayOfPlanets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planets" nillable="true" type="tns:Planets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanets" nillable="true" type="tns:ArrayOfPlanets" />
  <xs:complexType name="Planets">
    <xs:sequence>
      <xs:element name="_x003C_AgeGyr_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AscendingNodeDeg_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Declination_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DiscoveryMethod_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DiscoveryYear_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_DistFromSunParsec_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_Eccentricity_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_HostStarAgeGyr_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HostStarMassSlrMass_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_HostStarMetallicity_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_HostStarRadiusSlrRad_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_HostStarTempK_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_InclinationDeg_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastUpdated_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LongitudeDeg_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PeriastronDeg_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_PeriodDays_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_PlanetIdentifier_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PlanetaryMassJpt_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_RadiusJpt_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_RightAscension_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SemiMajorAxisAU_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_SurfaceTempK_x003E_k__BackingField" nillable="true" type="xs:double" />
      <xs:element name="_x003C_TypeFlag_x003E_k__BackingField" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planets" nillable="true" type="tns:Planets" />
  <xs:complexType name="ArrayOfPlanetsTimeline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanetsTimeline" nillable="true" type="tns:PlanetsTimeline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanetsTimeline" nillable="true" type="tns:ArrayOfPlanetsTimeline" />
  <xs:complexType name="PlanetsTimeline">
    <xs:sequence>
      <xs:element minOccurs="0" name="Large" type="xs:int" />
      <xs:element minOccurs="0" name="Medium" type="xs:int" />
      <xs:element minOccurs="0" name="Small" type="xs:int" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanetsTimeline" nillable="true" type="tns:PlanetsTimeline" />
</xs:schema>