src/WebApplication5/Service References/svcPlanetService/PlanetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53115/PlanetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="GetOrphanPlanets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="value" nillable="true" type="q1:PlanetsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrphanPlanetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrphanPlanetsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHottestPlanet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="value" nillable="true" type="q2:PlanetsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHottestPlanetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHottestPlanetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetTimelineByYearandSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="value" nillable="true" type="q3:PlanetsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetTimelineByYearandSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetPlanetTimelineByYearandSizeResult" nillable="true" type="q4:ArrayOfPlanetsTimeline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>